<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon">
            <i class="fas fa-server"></i>
        </div>
        <div class="sidebar-brand-text mx-3">NetRacks</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - Racks Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapserack" aria-expanded="true" aria-controls="collapserack">
            <i class="fas fa-fw fa-cog"></i>
            <span>Racks</span>
        </a>
        <div id="collapserack" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/racks">Manage Racks</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - VLANS Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsevlans" aria-expanded="true" aria-controls="collapsevlans">
            <i class="fas fa-fw fa-cog"></i>
            <span>VLANS</span>
        </a>
        <div id="collapsevlans" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="#">Manage VLANS</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Equipment Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseequipment" aria-expanded="true" aria-controls="collapseequipment">
            <i class="fas fa-fw fa-cog"></i>
            <span>Equipment</span>
        </a>
        <div id="collapseequipment" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="#">Manage Equipment</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Equipment Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseip" aria-expanded="true" aria-controls="collapseip">
            <i class="fas fa-fw fa-cog"></i>
            <span>IP Address</span>
        </a>
        <div id="collapseip" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="#">View IPS</a>
                <a class="collapse-item" href="#">Manage IPs</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->